/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes white-black {
    to {
        background-position: left;
    }
}

@keyframes opacity {
    to {
        opacity: 0.6;
    }
}

@keyframes changes {
    from {
        inset-inline-start: -20px;
    }
    to {
        inset-inline-start: -15px;
    }
}

@keyframes like-button-outline {
    to {
        outline: 2px solid var(--accent-color);
    }
}

@keyframes trans {
    to {
        opacity: 1;
    }
}

@keyframes siz {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}