@keyframes changes {
    from {
        inset-inline-start: -20px;
    }
    to {
        inset-inline-start: -16px;
    }
}

@keyframes sparks-opacity {
    to {
        opacity: 1;
    }
}

@keyframes siz {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}