:root.theme-dark {
    --bg: url(../images/background-dark.png);
    --text-color: #00CC14;
    --accent-color: #00CC14;
    --main-color: #000;
    --main-font: 'Press Start 2P', sanserif;
    --text-font: 'Inter', sanserif;
    --button-text: hsl(126, 100%, 40%);
    --heart: #FF0000;
    --heart-body: #00CC14;
}

:root.theme-light {
    --bg: url(../images/background.png);
    --text-color: black;
    --accent-color: black;
    --main-color: white;
    --main-font: 'Press Start 2P', sanserif;
    --text-font: 'Inter', sanserif;
    --button-text: white;
    --heart: #FF0000;
    --heart-body: black;
}

@media (prefers-color-scheme: dark) {
    :root {
    --bg: url(../images/background-dark.png);
    --text-color: #00CC14;
    --accent-color: #00CC14;
    --main-color: #000;
    --main-font: 'Press Start 2P', sanserif;
    --text-font: 'Inter', sanserif;
    --button-text: #00CC14;
    --heart: #FF0000;
    --heart-body: #00CC14;
    }
}

