:root.theme-dark {
    --text-color: #00CC14;
    --accent-color: #00CC14;
    --main-color: #000;
    --main-font: 'Press Start 2P', sanserif;
    --text-font: 'Inter', sanserif;
}

@media (prefers-color-scheme: dark) {
    .page {
    background-image: url(../images/background-dark.png);
    }
    :root {
    --text-color: #00CC14;
    --accent-color: #00CC14;
    --main-color: #000;
    --main-font: 'Press Start 2P', sanserif;
    --text-font: 'Inter', sanserif;
    }
    .dialog-floppy {
        color: var(--accent-color);
        mix-blend-mode: normal;
    }
    .card__like-button {
        background:linear-gradient(to right, #fff 0% 50%, #000 50%);
        background-size: 200% 100%;
        background-position: right;
    }
    .button__text {
        color: var(--accent-color);
        mix-blend-mode: normal;
    }
}