/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg: url(../images/background.png);
    --text-color: black;
    --accent-color: black;
    --main-color: white;
    --main-font: 'Press Start 2P', sanserif;
    --text-font: 'Inter', sanserif;
    --button-text: white;
    --heart: #FF0000;
    --heart-body: black;
}